
@{
    ViewBag.Title = "Evaed";
}

<h2>Evaed</h2>
<h4>你已经评价过的学生序号如下</h4>
<h5>@ViewBag.msg</h5>
这里排序上存在一个小bug，因为是通过字符串形式进行排序，所以1号会在2号前面，但是18号由于也是1开头的，所以也会在2号前面，以此类推……
<a href="@Url.Action("index")">返回评分首页</a>

