
@{
    ViewBag.Title = "SuperUser";
}

<h2>SuperUser</h2>
@using (Html.BeginForm("SuperUser", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>网站统计</h4>
    <h5>当前评委账户数量：@ViewBag.count1</h5>
    <h5>当前有效评分数量：@ViewBag.count2</h5>
    <br />
    <h4>评分数据统计</h4>
    <h5>道德修养总平均分：@ViewBag.s1</h5>
    <h5>集体观念总平均分：@ViewBag.s2</h5>
    <h5>学习态度总平均分：@ViewBag.s3</h5>
    <h5>遵纪守法总平均分：@ViewBag.s4</h5>
    <h5>总分平均分：@ViewBag.st</h5>
    <br />
    <h4>班级账户开户</h4>
    <h5>请输入班级代码 ：</h5>@Html.TextBox("ClassID")<br />
    <h5>请输入班级人数 ：</h5>@Html.TextBox("ClassNum")<br />
    <input type="submit" value="submit" />
}

