@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>

<address>
    白文涛<br />
    whut信管1503班<br />
    <abbr title="Phone">P:</abbr>
    15071306953
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bwt1997@126.com">bwt1997@126.com</a><br />
</address>